In [26]:
import pandas as pd
import numpy as np

df = pd.read_csv('IBM_Employee_Attrition.csv')

def preprocess(df):
    
    # 1. Map binary categorical columns (Yes/No, Male/Female)
    def map_binary_column(column, map_dict):
        df[column] = df[column].map(map_dict)
    
    # 3. Map ordinal categorical columns
    def map_ordinal_column(column, map_dict):
        df[column] = df[column].map(map_dict)
    
    map_binary_column('Attrition', {'Yes': 1, 'No': 0})
    map_binary_column('Gender', {'Male': 0, 'Female': 1})
    map_binary_column('OverTime', {'Yes': 1, 'No': 0})
    
    # Mapping Businesstravel 
    map_ordinal_column('BusinessTravel', {
        'Non-Travel': 0, 
        'Travel_Rarely': 1, 
        'Travel_Frequently': 2
    })

    # Mapping Department
    map_ordinal_column('Department', {
        'Research & Development': 0,
        'Sales': 1,
        'Human Resources': 2
    })

    # Mapping Educationfield
    map_ordinal_column('EducationField', {
        'Life Sciences': 0,
        'Medical': 1,
        'Technical Degree': 2,
        'Marketing': 3,
        'Other': 4
    })

    # Mapping all Jobs
    map_ordinal_column('JobRole', {
        'Sales Executive': 0,
        'Research Scientist': 1,
        'Laboratory Technician': 2,
        'Manufacturing Director': 3,
        'Healthcare Representative': 4,
        'Manager': 5,
        'Human Resources': 6,
        'Research Director': 7
    })

    # Mapping Marriage status
    map_ordinal_column('Department', {
        'Married': 0,
        'Single': 1,
        'Divorced': 2
    })
    
    # Dropping the rates since monthly income is better data
    df = df.drop(columns='DailyRate') 
    df = df.drop(columns='HourlyRate')
    df = df.drop(columns='MonthlyRate')

    df = df.drop(columns='EmployeeCount') # Dropped since whole column is 1

    df = df.drop(columns='Over18') # this column is useless, all over 18
    
    return df

preprocess(df)

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EmployeeNumber,EnvironmentSatisfaction,Gender,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,1,1,1,1,2,0.0,1,Medium,Female,...,Low,80,0,8,0,Bad,6,4,0,5
1,49,0,2,0,8,1,0.0,2,High,Male,...,Very High,80,1,10,3,Better,10,7,1,7
2,37,1,1,0,2,2,2.0,4,Very High,Male,...,Medium,80,0,7,3,Better,0,0,0,0
3,33,0,2,0,3,4,0.0,5,Very High,Female,...,High,80,0,8,3,Better,8,7,3,0
4,27,0,1,0,2,1,1.0,7,Low,Male,...,Very High,80,1,6,3,Better,2,2,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1465,36,0,2,0,23,2,1.0,2061,High,Male,...,High,80,1,17,3,Better,5,2,0,3
1466,39,0,1,0,6,1,1.0,2062,Very High,Male,...,Low,80,1,9,5,Better,7,7,1,7
1467,27,0,1,0,4,3,0.0,2064,Medium,Male,...,Medium,80,1,6,0,Better,6,2,0,3
1468,49,0,2,1,2,3,1.0,2065,Very High,Male,...,Very High,80,0,17,3,Good,9,6,0,8
1469,34,0,1,0,8,3,1.0,2068,Medium,Male,...,Low,80,0,6,3,Best,4,3,1,2